* {
  box-sizing: border-box;
}
#board {
  background-color: tan;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 15px solid black;
  border-image: url(border.png); */
  border: 30px solid transparent;
  /* border-image: url(border.png) 30 round; */
  border-image: url(NaturalWoodgrain_grande.jpg) 30 round;
  }

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.space {
  flex: 1;
  border: 2px solid gold;
  /* width: 98px;  
  height: 98px;  */
  /* width: 98%; 
  height: 98%;  */
} 

.red {
  background-color: red;
}

.black {
  background-color: black;
}
